.Recipe_Card {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.Recipe_Card img {
    height: 250px;
    width: 100%;
}

.Recipe_Card .buttonDiv {
    display: flex;
    justify-content: space-evenly;
    bottom: 0;
}

.Recipe_Card .buttonDiv button {
    background-color: #6C757D;
    border-color: #6C757D;
    color: #FFF;
    transition: 0.3s;
}

.Recipe_Card .buttonDiv button:hover {
    background-color: var(--color-base);
    border-color: var(--color-base);
}

.Recipe_Card .buttonDiv .btn-favorites {
    line-break: normal;
    padding: 0.375rem 0.75rem;
    width: 150px;
    line-height: 20px;
}