.SearchBar {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.SearchBar .bar {
  border-radius: 5px;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 450px;
  padding: 2px 7px;
  font-size: 18px;
}

.SearchBar .SearchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  background-image: url(./recipe.jpg);
  background-size: 100%;
}

.SearchBar .radio {
  padding-right: 5px;
  color: white;
  margin-right: 17px;
  transform: translateX(10px);
  font-size: 18px;
}

.SearchBar .radio #input {
  margin-right: 7px;
}

.SearchBar button {
  border-radius: 5px;
  margin-top: 10px;
}

.SearchBar #btn-search {
  font-size: 20px;
  background: var(--color-gray);
  border-color: var(--color-gray);
  padding: 2px 20px;
  transition: 0.3s;
}

.SearchBar #btn-search:hover {
  background: var(--color-base);
  border-color: var(--color-base);
  color: #fff;
}